body {
	font-family: Roboto Mono;
	background-color: #595959;
	color: #ffffff;
	font-size: 160%;
	margin-left: 3rem;
	margin-right: 3rem;
}

header {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	font-size: 1.5rem;
	text-align: center;
	margin-left: 2rem;
	margin-right: 2rem;
}

.switch {
	position: relative;
	min-width: 60px;
	width: 60px;
	height: 34px;
	bottom: 2rem;
	background-color: #281356;
	border-radius: 34px;
}

.switch span a {
	opacity: 0;
	padding: 50%;
	padding-top: 10%;
	padding-bottom: 10%;

}

.switch span {
	position: absolute;
	cursor: pointer;
	border-radius: 34px;
	background-color: #ffffff;
	height: 26px;
	width: 26px;
	right: 4px;
	bottom: 4px;
}

header span {
	color: #2dc75c;
}

ul {
	list-style-type: none;
}

section {
	display: flex;
	gap: 3rem;
}

section article {
	width: 50%;
}

section:nth-child(even) {
	flex-direction: row-reverse;
	text-align: right;
}

article {
	display: flex;
	flex-direction: column;
	gap: 0;
}

img {
	width: 40%;
	height: 100%;
	margin-top: 5rem;
	border-radius: 5px;
}

footer {
	margin-top: 20vh;
}

@media (max-width: 768px) {
	body {
		font-size: 100%;
		margin-left: 1rem;
		margin-right: 1rem;
	}

	header {
		flex-direction: column;
		gap: 2rem;
		font-size: 0.8rem;
	}

	section {
		flex-direction: column;
	}

	section:nth-child(even) {
		flex-direction: column;
		text-align: left;
	}

	section article {
		width: 100%;
	}

	img {
		width: 100%;
		margin-top: 0;
	}

	footer {
		margin-top: 7vh;
	}
}